.customtask {
    .customtask-header {
        padding: 10px;
        text-align: center;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        height: 50px;
        line-height: 30px;
    }

    .customtask-main {
        position: absolute;
        left: 5px;
        right: 5px;
        bottom: 5px;
        top: 50px;
        border: 1px solid #ddd;

    }
}

.divActions {
    position: 'absolute';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: 'auto';
    .divActionItem {
        padding: 1px 0;
        border-bottom: 1px solid #ddd;
        label{
            display: inline-block;
            height: 100%;
            line-height: 32px;
            text-align: right;
            width: 100px;
            background: #999;
            color: #ddd;
           
        }
        button{
            margin:0 5px;
        }
    }

}

.divResult{
    overflow:auto;
    padding: 2px;
    .ant-col{
        white-space:normal;
        word-break:break-all;
        word-wrap:break-word; 
        background-color: #fff;
        div:nth-child(odd){
            background-color: #ccc;
        }
    }
    
}

.divSplitH{
    position: 'absolute';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: 'auto';
}





// 分割线样式
.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
    cursor: not-allowed;
}

.Resizer.disabled:hover {
    border-color: transparent;
}