.divFlowChart {
    margin: 0 auto;
    display: flex;
    height: 100%;
    .divNodes {
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: 0px;
    }
     .divFCDiagrams {
        flex: 1;
        border: 1px solid #ddd;
        min-height: 600px;
    }
}


