.divNode {
    display: block;
    text-align: center;
    padding:  1px;
    border: 1px solid #fff;

    &:hover {
        border-color: #215ec8;
        background-color: #5685d6;
        cursor: move;
    }

    img {
        width: 28px;
        height: 28px;
        z-index: 2;
    }
}

 // .divNode {
//     color: #000;
//     background-color: #fff;
//     line-height: normal;
//     height: auto;
//     cursor: pointer;
//     padding: 5px 0;
//     border-radius: none;
// }